@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0);
  }
  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}

@keyframes scale-static {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slider-cont {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slider-title {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes title {
  0% {
    transform: translateX(50%) scale(1);
  }
  50% {
    transform: translateX(50%) scale(1.03);
  }
  100% {
    transform: translateX(50%) scale(1);
  }
}