@import "variables";

.category-page-cont {
  padding: 20px 5%;
}

.loading-cont {
  padding: 20px 0;
  min-height: 32px;
  font-size: $title-font-size;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-items-container {
  background-color: var(--header-background-color);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.post-item-cont-link {
  width: calc(50% - 1px);
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid var(--border-color);

  &.full-wide {
    width: 100%;

    &:nth-child(odd) {
      border-left: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &:nth-child(odd) {
    border-left: 1px solid var(--border-color);
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    border-left: none;
  }
}

.post-item-cont {
  padding: 15px;
  transition: all linear 0.2s;

  &:hover {
    background-color: var(--transparent-third);

    .post-item-cont-pic {
      border-color: var(--primary-color);
    }

    .post-item-cont-title {
      color: var(--primary-color);
    }
  }
}

.post-item-cont-title {
  margin-bottom: 15px;
  font-size: $title-font-size;
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all linear 0.2s;

  @media screen and (max-width: 480px) {
    width: 250px;
    margin: 0 auto 15px auto;
  }
}

.post-item-cont-pic {
  vertical-align: top;
  width: 250px;
  height: 140px;
  object-fit: cover;
  padding: 3px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  transition: all linear 0.2s;

  @media screen and (max-width: 480px) {
    margin: auto;
    display: block;
  }
}

.post-item-cont-text {
  font-size: $regular-font-size;
  padding: 0 15px;
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 288px);

  @media screen and (max-width: 480px) {
    display: block;
    width: 250px;
    padding: 0;
    margin: 15px auto 0 auto;
  }
}

.post-item-cont-text-desc {
  height: 120px;
  text-align: justify;
  line-height: 28px;
  color: var(--text-light-color);
  overflow: hidden;
  word-break: break-word;

  @media screen and (max-width: 480px) {
    height: auto;
  }
}

.post-item-cont-text-detail {
  @media screen and (max-width: 480px) {
    margin-top: 10px;
  }
}

.post-item-cont-text-detail-like {
  vertical-align: top;
  width: 18px;
  fill: var(--secondary-color);
}

.post-item-cont-text-detail-like-count {
  display: inline-block;
  vertical-align: top;
  color: var(--secondary-color);
  font-size: $regular-font-size;
  margin-top: 2px;
  margin-right: 5px;
}