:root {
    --transparent-third: rgba(165, 121, 37, 0.1);
    --transparent-second: rgba(165, 121, 37, 0.4);
    --transparent-primary: rgba(165, 121, 37, 0.6);
    --third-color: #d7bc85;
    --primary-color: #D2B06D;
    --secondary-color: #a57925;
    --light-color: #DEF2F1;
    --success-color: #28BF49;
    --dark-color: #303030;
    --very-light-color: #fafafa;
    --header-background-color: #2f2d2d;
    --background-color: #000000;
    --login-page-background-color: #dcc79b;
    --menu-color: #f6f3f3;
    --border-color: #CDCDCD;
    --text-light-color: #878787;
    --error-color: #C62828;
}