@import "variables";

.header-cont {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  height: 120px;
  background-color: var(--background-color);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 480px) {
    height: 80px;
  }
}

.header-cont-main {
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header-section {
  display: flex;
  align-items: center;
}

.show-desktop {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.show-mobile {
  @media screen and (min-width: 480px) {
    display: none;
  }
}

.header-hamburger-mobile {
  position: relative;
  width: 35px;
  height: 25px;
  fill: grey;
}

.header-hamburger-mobile-material {
  display: none;
  @media screen and (max-width: 480px) {
    z-index: 5;
    margin-right: -7.5px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &.toggle {
      transition: all linear 0.2s, background-color linear 0.2s 0.2s;
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
}

.header-right-section-link {
  font-size: $title-font-size;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: 55px;
  text-align: center;
  transition: all linear 0.2s;

  &.logout {
    color: var(--error-color);
  }
}

.header-right-section-link-active {
  .header-right-section-link {
    background-color: var(--login-page-background-color);
  }
}

.header-logo {
  width: 55px;
  height: 55px;
  display: block;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.header-name {
  font-size: $huge-font-size;
  margin-left: 20px;

  @media screen and (max-width: 480px) {
    margin-left: 0;
    font-size: $big-font-size;
    position: relative;
    z-index: 5;
  }
}

.header-sidebar-back {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: 2;
  }
}

.header-sidebar-container {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    background-color: white;
    z-index: 4;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
  }
}

.header-sidebar-link {
  transition: all linear 0.2s;

  &.active {
    background-color: var(--transparent-third);
  }
}

.header-sidebar-btn {
  font-size: $title-font-size;
  font-weight: bold;
  border-top: 1px solid var(--login-page-background-color);
  border-bottom: 1px solid var(--login-page-background-color);
  padding: 20px 15px;
  margin-top: -1px;
  background-color: inherit;

  &.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--error-color);
  }

  &.margin-top {
    margin-top: 80px;
  }
}

.header-categories-nav {
  padding: 0 5%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--background-color);
  position: relative;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-categories-nav-item {
  position: relative;
  font-size: $title-font-size;
  padding: 0 15px 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:first-child {
    margin-right: -15px;
  }

  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    height: 3px;
    transform: scale(0);
    transition: all ease 0.2s;
  }

  &:hover {
    &:after {
      transform: scale(1);
    }
  }
}

.header-categories-nav-arrow {
  margin-right: 5px;
  fill: var(--background-color);
  width: 15px;
  transform: rotate(-90deg);
}

.header-categories-dialog {
  position: absolute;
  top: 40px;
  background-color: var(--background-color);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  color: var(--secondary-color);
  font-size: $regular-font-size;
  opacity: 0;
  display: flex;
  transform: translateX(-100%);
  transform-origin: top left;
  height: 0;
  transition: all ease 0.2s, height ease 0s 0.3s;

  &.show {
    transform: translateX(-100%);
    opacity: 1;
    height: 500px;
    transition: all ease 0.2s, height ease 0s;
  }
}

.header-categories-dialog-child {
  padding: 15px;
  text-align: right;
  width: 250px;
  background-color: var(--login-page-background-color);
}

.header-categories-dialog-child-item {
  padding: 10px 5px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  transition: all linear 0.2s;

  &:hover {
    background-color: white;
  }
}

.header-categories-dialog-img {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  object-fit: contain;
  align-self: center;
  margin: 15px;
}