@import "variables";

.home-page-cont {
  padding: 20px 5%;
}

.home-page-slider-cont {
  display: block;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--login-page-background-color);
}

.home-page-slider-item {
  width: 100%;
  height: calc(100vh - 200px);
  object-fit: cover;
  display: block;
}

.home-page-slider-text {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  color: white;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.6), transparent);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 4%;
  animation: slider-cont ease 1s;
}

.home-page-slider-text-title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: $very-huge-font-size;
  animation: slider-title ease 2s;
}

.home-page-slider-text-desc {
  font-size: $big-font-size;
  animation: slider-title ease 2.5s;
}

.home-page-bolds {
  background: var(--header-background-color);
  padding: 15px;
  border-radius: 5px;
  margin: 30px 0 20px 0;
}

.home-page-bolds-title {
  font-size: $title-font-size;
  font-weight: bold;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 8px;
}

.home-page-bolds-items {
  @media screen and (max-width: 480px) {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.home-page-bolds-link {
  display: inline-block;
  vertical-align: top;
  width: calc(20% - 20px);
  margin: 0 10px;

  @media screen and (max-width: 480px) {
    width: 80%;
  }
}

.home-page-bolds-cont {
  display: block;

  &:hover {
    .home-page-bolds-img {
      border-color: var(--primary-color);
    }

    .home-page-bolds-text {
      color: var(--primary-color);
    }
  }
}

.home-page-bolds-img {
  display: block;
  width: calc(100% - 13px);
  height: 150px;
  object-fit: cover;
  padding: 3px;
  border: 1px solid var(--border-color);
  margin: 10px 5px;
  border-radius: 5px;
  transition: all linear 0.2s;
}

.home-page-bolds-text {
  font-size: $regular-font-size;
  padding: 0 5px;
  width: calc(100% - 10px);
  overflow: hidden;
  white-space: nowrap;
  transition: all linear 0.2s;
}

.home-page-main {
}

.home-page-main-col {
  width: calc(60% - 10px);
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-left: 0;
  }
}

.home-page-main-title {
  display: flex;
  justify-content: space-between;
}

.home-page-main-title-text {
  font-weight: bold;
  font-size: $title-font-size;
  padding: 15px;

  &.side {
    color: var(--secondary-color);
  }
}

.home-page-main-title-tabs {

}

.home-page-main-posts {
  background-color: var(--header-background-color);
}

.home-page-main-title-item {
  display: inline-block;
  vertical-align: top;
  font-size: $title-font-size;
  padding: 15px;
  cursor: pointer;

  &.selected {
    border-top: 2px solid var(--primary-color);
    background-color: var(--header-background-color);
  }
}

.home-page-side-col {
  width: calc(40% - 10px);
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  overflow: hidden;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-right: 0;
  }
}

.home-page-side-col-section {
  background-color: var(--header-background-color);

  @media screen and (max-width: 480px) {
    margin-top: 20px;
  }

  &.second {
    margin-top: 20px;
  }
}

.home-page-side-post {
  display: block;
  padding: 10px 15px;

  &:last-child {
    .home-page-side-post-desc {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &:hover {
    .home-page-side-post-title {
      color: var(--primary-color);
    }
  }
}

.home-page-side-post-title {
  font-size: $title-font-size;
  font-weight: bold;
  transition: all linear 0.2s;
}

.home-page-side-post-desc {
  margin-top: 5px;
  font-size: $regular-font-size;
  line-height: 28px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 15px;
  transition: all linear 0.2s;
}