@import "css-variables.css";
@import "home";
@import "header";
@import "animations";
@import "signup";
@import "category-page";
@import "about";
@import "profile";
@import "panel";
@import "image-show";
@import "post";
@import "Material.css";
@import "MaterialInput.css";
@import "seyed-checkbox";
@import "hamburger";
@import "my-slider";
@import "not-found";
@import "fluent";
@import "~react-notifications/lib/notifications.css";

@font-face {
  font-family: "IranSans";
  src: url("../Media/Fonts/IRANSans.woff") format("woff");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  color: var(--very-light-color);
  direction: rtl;
  font-family: "IranSans", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

button, input, textarea, h4, h3, h2, h1, select, video, track {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "IranSans", serif;
  color: var(--very-light-color);

  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  min-height: calc(100vh - 120px);
  background-color: var(--background-color);

  @media screen and (max-width: 480px) {
    padding-top: 80px;
    padding-bottom: 50px;
    min-height: calc(100vh - 130px);
  }
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--border-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--primary-color);
}

::selection {
  color: white;
  background: var(--primary-color);
}

.hide-scroll::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.hide-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.hide-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.show-link {
  display: none;

  @media screen and (max-width: 1024px) {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--transparent-primary);
    text-align: center;
    font-size: $regular-font-size;
    font-weight: bold;
  }

  @media screen and (min-width: 1025px) {
    display: block;
    position: fixed;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    color: var(--primary-color);
    background-color: var(--transparent-second);
    padding: 10px;
    border-radius: 25px;
    z-index: 3;
    font-size: $regular-font-size;
    font-weight: bold;
    animation: title ease 1s infinite;
    transition: all linear 0.2s;

    &:hover {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    }
  }
}