@import "variables";

.panel-page-container {
  padding: 10px 5% 60px 5%;
}

.panel-welcome {
  text-align: center;
  color: var(--secondary-color);
}

.panel-page-content {
  margin-right: 312px;
  width: calc(100% - 312px);
  display: inline-block;
  vertical-align: top;
  text-align: center;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-right: 0;
  }
}

.panel-side-bar {
  position: fixed;
  right: 5%;
  top: 130px;
  width: 300px;
  border: 1px solid var(--primary-color);
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 480px) {
    right: 0;
    left: 0;
    top: calc(100% - 45px);
    width: auto;
    z-index: 2;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    height: 100vh;
    background-color: white;
  }
}

.panel-side-bar-mobile-line {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    min-width: 100%;
    background-color: white;
    padding: 20px 0;
  }
}

.panel-side-bar-line {
  width: 50px;
  height: 5px;
  background-color: var(--text-light-color);
  border-radius: 3px;
  margin: auto;
}

.panel-side-bar-item-link {
  font-size: $title-font-size;
  text-align: center;

  @media screen and (max-width: 480px) {
    flex-grow: 1;
  }

  &.selected {
    .panel-side-bar-item {
      background-color: var(--dark-color);
      color: white;
    }
  }
}

.panel-side-bar-item {
  padding: 16px 0;
  transition: all linear 0.2s;
}

.panel-sidebar-back {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: 1;
  }
}

.panel-categories-cont {
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--header-background-color);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 80px;
}

.panel-table-title {
  background-color: var(--secondary-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: $title-font-size;
  padding: 12px 0;
  border-radius: 5px;
}

.panel-table-row-cont {
  overflow: auto;
}

.panel-table-row {
  position: relative;
  display: flex;
  font-size: $regular-font-size;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  transition: all linear 0.2s;

  &.padding-mobile {
    &:hover {
      .panel-table-row-edit {
        opacity: 1;
      }
    }

    @media screen and (max-width: 480px) {
      padding: 35px 0;
    }
  }

  @media screen and (max-width: 480px) {
    &.wide {
      width: 150%;
    }
  }

  &.title {
    background-color: var(--dark-color) !important;
    cursor: default;

    &:hover {
      background-color: var(--dark-color);
    }
  }

  &:hover {
    background-color: var(--third-color);
  }

  &:nth-child(even) {
    background-color: var(--login-page-background-color);

    &:hover {
      background-color: var(--third-color);
    }
  }
}

.panel-table-row-item-img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  border-radius: 5px;
  @media screen and (max-width: 480px) {
    height: 60px;
  }
}

.panel-table-row-item {
  width: 25%;
  padding: 0 10px;
  text-align: center;

  &.grow {
    flex-grow: 1;
  }
}

.panel-table-err-loading {
  color: var(--error-color);
  padding: 12px;
  font-size: $regular-font-size;
  text-align: center;
}

.panel-add-item {
  cursor: pointer;
  position: fixed;
  left: 5%;
  bottom: 5%;
  width: 50px;
  padding-top: 2px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $huge-font-size;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border-radius: 50%;
  transition: all linear 0.2s;

  @media screen and (max-width: 480px) {
    bottom: calc(5% + 35px);
  }

  &:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }
}

.panel-image-upload {
  border: 1px solid var(--border-color);
  margin-top: 15px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.panel-image-upload-label {
  right: 10px;
  top: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--border-color);
  padding: 5px;
  border-radius: 5px;
  font-size: $regular-font-size;
}

.panel-image-upload-material {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  padding: 15px;

  &:hover {
    .panel-image-upload-edit {
      opacity: 1;
    }
  }
}

.panel-image-upload-add {
  fill: var(--text-light-color);
  width: 50px;
}

.panel-image-upload-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.panel-image-upload-edit {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 20px;
  height: 20px;
  fill: var(--text-light-color);
  background-color: var(--background-color);
  opacity: 0.3;
  padding: 5px;
  border-radius: 50%;
  transition: all linear 0.2s;
}

.panel-upload-percent {
  width: 75px;
  height: 75px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

  &.clip-loader {
    padding-top: 3px;
    height: 72px;
  }
}

.panel-remove-btn {
  width: 25%;
  margin: 15px 0 15px 2%;
  display: inline-block;
  background-color: var(--error-color);
  color: white;
  border-radius: 5px;
  padding: 12px 0;
  cursor: pointer;
}

.panel-table-row-edit {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--transparent-second);
  fill: var(--dark-color);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all linear 0.2s;

  &:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 480px) {
    opacity: 0;
  }

  &.delete {
    fill: var(--error-color);
    right: 40px;
  }

  &.delete-right {
    fill: var(--error-color);
  }

}

.panel-table-row-item-arrow {
  width: 40px;
  fill: var(--secondary-color);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;

  &.edit {
    width: 25px;
    padding: 5px;
  }
}

.panel-select-box {
  margin-top: 15px;
  height: 50px;
  width: calc(100% - 2px);
  border: 1px solid var(--border-color);
  font-size: $title-font-size;
  color: var(--text-light-color);
  border-radius: 4px;
  padding: 0 5px;
}

.panel-posts-cont {
  display: flex;
  flex-wrap: wrap;
}

.panel-posts-item {
  position: relative;
  width: 250px;
  flex-grow: 1;
  margin: 10px;
  font-size: $regular-font-size;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: all linear 0.2s;

  &:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }
}

.panel-posts-item-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.panel-posts-item-title {
  font-weight: bold;
  padding: 10px;
  font-size: $title-font-size;
}

.panel-posts-item-cat {
  padding: 10px;
  color: var(--primary-color);
  font-weight: bold;
}

.panel-posts-item-desc {
  line-height: 28px;
  text-align: justify;
  text-align-last: center;
  padding: 10px;
}

.panel-posts-item-bold {
  color: var(--primary-color);
  font-weight: bold;
  padding: 10px;
}

.panel-post-description-cont {
  padding: 15px;
}

.panel-post-description {
  background-color: var(--login-page-background-color);
  border-radius: 5px;
  margin: 10px 0;
  padding: 15px 10px 15px 152px;
  position: relative;

  &.regular {
    padding: 15px 10px;
  }
}

.panel-post-description-delete {
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 112px;
  background-color: var(--background-color);
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 50%;

  &.post-page {
    left: 50px;
    opacity: 0.7;
    transition: all linear 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    fill: var(--error-color);
    width: 18px;
  }
}

.panel-post-description-sub {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 8px;
  height: 20px;
  fill: var(--success-color);
  width: 21px;
}

.panel-post-description-edit {
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 72px;
  background-color: var(--background-color);
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 50%;

  &.post-page {
    left: 10px;
    opacity: 0.7;
    transition: all linear 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    fill: var(--text-light-color);
    width: 18px;
  }
}

.panel-post-description-order {
  position: absolute;
  top: 15px;
  left: 32px;
  background-color: var(--background-color);
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 50%;
  font-size: $regular-font-size;
}

.panel-post-description-order-up {
  position: absolute;
  top: 0;
  transform: rotate(90deg);
  left: 38px;
  width: 19px;
  fill: var(--text-light-color);
  cursor: pointer;
}

.panel-post-description-order-down {
  position: absolute;
  top: 41px;
  transform: rotate(-90deg);
  left: 38px;
  width: 19px;
  fill: var(--text-light-color);
  cursor: pointer;
}

.panel-post-description-desc {
  font-size: $regular-font-size;
  line-height: 30px;
  text-align: justify;
  text-align-last: right;
  white-space: pre-wrap;
  color: var(--dark-color);

  &.bold {
    font-weight: bold;
    color: var(--secondary-color);
  }
}

.panel-post-description-img-video {
  width: 100%;
  display: block;
  border-radius: 5px;
  user-select: none;
}

.panel-post-add-desc-menu {
  background-color: var(--menu-color);
  color: var(--background-color);
  font-size: $regular-font-size;
  font-weight: bold;
  width: 100px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px auto;
}

.panel-post-add-desc-menu-item {
  padding: 7px 0;
  cursor: pointer;
  transition: all linear 0.2s;

  @media screen and (min-width: 480px) {
    &:hover {
      background-color: var(--border-color);
    }
  }

  @media screen and (max-width: 480px) {
    padding: 10px 0;
  }
}

.panel-checkbox {
  display: block !important;
  margin-top: 15px;
}

.panel-checkbox-pre-cont {
  display: flex;
  justify-content: space-between;
}

.panel-checkbox-pre {

}

.panel-checkbox-pre-inputs {
  text-align: left;
}

.panel-checkbox-pre-date {
  vertical-align: top;
  border-bottom: 1px solid var(--border-color);
  margin-right: 10px;
  text-align: center;
  padding: 3px;
  direction: ltr;
  width: 95px;
  color: black;
}

.panel-checkbox-pre-time {
  vertical-align: top;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
  padding: 3px;
  direction: ltr;
  width: 90px;
  color: black;
}

.post-page-cont {
  text-align: center;
  padding: 10px 15%;

  @media screen and (max-width: 480px) {
    padding: 10px 5%;
  }
}