@import "variables";

.profile-page-cont {
  text-align: center;
  padding: 10px 30%;

  @media screen and (max-width: 480px) {
    padding: 10px 5%;
  }
}

.profile-content {
  background-color: var(--header-background-color);
  padding: 15px;
  border-radius: 0 0 5px 5px;
}

.profile-content-input {
  height: 50px;

  &.margin-top {
    margin-top: 15px;
  }
}