@import "variables";

.seyed-checkbox-cont {
  color: var(--secondary-color);
  text-align: right;
  font-size: $regular-font-size;
  padding: 10px 5px;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
}

.seyed-checkbox {
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-left: 10px;
  position: relative;

  &.hide {
    &:after {
      opacity: 0;
      transform: rotate(45deg) scale(0);
    }

    &:before {
      opacity: 0;
      transform: rotate(-45deg) scale(0);
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 3px;
    background-color: white;
    transform: rotate(45deg);
    left: 1.5px;
    top: 8px;
    transition: all linear 0.1s;
  }

  &:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: white;
    transform: rotate(-45deg);
    left: 3px;
    top: 6px;
    transition: all linear 0.1s;
  }
}