@import "variables";

.sign-up-page-cont {
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 480px) {
    min-height: calc(100vh - 80px);
  }
}

.sign-up-page {
  width: 500px;
  margin: 20px auto 20px auto;
  padding: 15px 15px 0 15px;
  background-color: var(--background-color);
  text-align: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  animation: fadein linear 0.2s;

  &.modal {
    animation: scale-static linear 0.2s;
  }

  @media screen and (max-width: 480px) {
    width: calc(90% - 30px);
  }
}

.sign-up-page-title {
  font-size: $title-font-size;
  font-weight: bold;
}

.sign-up-page-field {
  margin-top: 15px;
  height: 50px;
  width: calc(100% - 2px);
}

.sign-up-page-area {
  margin-top: 15px;
  height: 100px;
  width: calc(100% - 2px);
  margin-bottom: 20px;

  &.add-desc {
    height: 250px;
    margin-bottom: 40px;

    &.bold {
      textarea {
        font-weight: bold;
      }
    }
  }
}

.sign-up-page-field-star {
  color: var(--error-color);
}

.sign-up-page-submit {
  background-color: var(--primary-color);
  color: white;
  margin-top: 20px;
  width: calc(100% + 30px);
  margin-right: -15px;
  padding: 10px 0;
  cursor: pointer;
}

.sign-up-page-field-err {
  font-size: $small-font-size;
  text-align: right;
  color: var(--error-color);
  margin-top: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all linear 0.2s;

  &.show {
    margin-top: 8px;
    opacity: 1;
    height: 19px;
  }
}

.sign-up-page-loading-cont {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein linear 0.1s;

  &.vertical-wide {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.override {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.login-modal-sign-up {
  color: var(--primary-color);
  font-weight: bold;
  font-size: $title-font-size;
  cursor: pointer;
  padding: 15px 0 10px 0;
  margin-bottom: 15px;
  border-top: 1px solid var(--primary-color);
  border-radius: 0 0 5px 5px;
}

.login-modal-submit {
  background-color: var(--primary-color);
  color: white;
  width: calc(100% + 2px);
  margin: 15px 0;
  border-radius: 5px;
  padding: 12px 0;
  cursor: pointer;

  &.inline {
    display: inline-block;
    width: 73%;
  }

  &.loading {
    cursor: not-allowed;
    opacity: 0.6;
  }
}